* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(71, 71, 71);
}

.container{
    margin: 2rem;
    text-align: center;
    color: aliceblue;
}

.nav{
    /* Background color for navbar Text*/
    background-color: rgb(107, 107, 107);
    /* Color for navbar Text*/
    color:  rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0rem;
    font-size: 1.45rem;
}

.About{
    font-size: 2rem;
    align-items: center;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: .25rem;
}

.nav li:hover{
    background-color: rgb(71, 31, 99);
}



